<div class="body">
    <div class="register-container">
      <h2>Update</h2>
      <form  #registerForm="ngForm">
        <div>
          <label for="username">Username:</label>
          <input type="text" id="username"  name="username" />
        </div>
        <div>
          <label for="email">Email:</label>
          <input type="email" id="email" required  name="email" />
        </div>
        <div>
          <label for="password">Password:</label>
          <input type="password" id="password" required  name="password" />
        </div>
        <div>
          <label for="confirmPassword">Confirm Password:</label>
          <input type="password" id="confirmPassword" required 
            name="confirmPassword" />
        </div>
        <button type="submit" [disabled]="!registerForm.form.valid">Update</button>
     
      </form>
    </div>
  </div>