<!-- <div class="container">

    <h1>Responsive and animated cards</h1>

    <div class="grid">

        <div class="card">
            <input id="card1" type="checkbox" checked>
            <label class="tgl-btn" for="card1"><span></span></label>
            <div class="tgl-view">
                <div class="card-image">
                    <img src="../assets/food2.jpg" alt="random image">
                </div>
                <h2 class="card-title">Lorem Picsum</h2>
                <p class="card-detail">Just add your desired image size (width & height) after our URL, and you'll get a random image.<br><br>https://picsum.photos/200/300<br>To get a square image, just add the size. https://picsum.photos/600</p>
            </div>
        </div>

        <div class="card">
            <input id="card2" type="checkbox">
            <label class="tgl-btn" for="card2"><span></span></label>
            <div class="tgl-view">
                <div class="card-image">
                    <img src="https://placekitten.com/g/600/600" alt="kitti">
                </div>
                <h2 class="card-title">placekitten</h2>
                <p class="card-detail">AdA quick and simple service for getting pictures of kittens for use as placeholders in your designs or code. Just put your image size (width & height) after our URL and you'll get a placeholder. <br><br>Cats: http://placekitten.com/200/300<br>Gray: http://placekitten.com/g/200/300</p>
            </div>
        </div>

        <div class="card">
            <input id="card3" type="checkbox">
            <label class="tgl-btn" for="card3"><span></span></label>
            <div class="tgl-view">
                <div class="card-image">
                    <img src="https://loremflickr.com/g/600/600/mountain" alt="flickr">
                </div>
                <h2 class="card-title">loremflickr</h2>
                <p class="card-detail">https://loremflickr.com/g/320/240/mountain A random picture of 320 x 240 pixels. If not supplying any keyword, you'll get a picture matching the keyword kitten. </p>
            </div>
        </div>

    </div>
</div> -->